.env
.git
.pytest_cache
.ruff_cache
__pycache__
app
bootstrap
config
database
node_modules
public
resources
routes
storage
tests
vendor
*.php
artisan
composer.json
composer.lock
package.json
package-lock.json
